<header class="doc-header">
            <div class="head-contact clearfix bg-topbar">
                <div class="container">
                        <ul class="topbar-cliente ">
                        <li><i class="fas fa-envelope pb-3"></i><b>E-mail:</b> <a href="mailto:contato@eletrica.com" class="text-white">contato@eletrica.com.br</a></li>
                        <li>
                            <span class="">
                            <i class="fab fa-whatsapp"></i>
                            <b>Whatsapp: </b> 
                            <a href="tel:01234567890" class="text-white">(11) 9 1234-5678</a>
                            </span>
                        </li>
                        <li>
                            <span class="d-none d-md-block">
                            <i class="fas fa-phone-volume"></i>
                            <b>Telefone: </b> 
                            <a href="tel:01234567890" class="text-white"> (11) 1234-1234</a>
                            </span>
                        </li>
                        <li class="pl-3 pr-n5 face-icon-top ">
                            <div class="header-icon text-center pt-1 d-none d-xl-block"><a href="#" class="cor-base"><i class="fab fa-facebook"></i></a></div></li>
                        <li><div class="header-icon text-center pt-1 d-none d-xl-block"><a href="#" class="cor-base"><i class="fab fa-instagram"></i></a></div></li>           
                    </ul>
                </div>
            </div>
        <div class="menu-container">
            <nav id="sticktop">
                <div class="container">
                
                    <a href="../index.html" class="text-left logo"><img src="../assets/img/logo/Logo1.png" class="logo-pag" alt="Logotipo -  eletrica"></a>
                    <ul class="main-menu nav navbar-nav ">
                        <li class="page-scroll "><a href="../index.html">Início</a></li>
                        <li class="page-scroll active" ><a href="../index.html#produtos">Nossos produtos <i class="fas fa-chevron-down"></i></a></li>
                        <li class="page-scroll"><a href="../index.html#fornecedores">Fornecedores</a></li>
                        <li class="page-scroll"><a href="sobre.html">A empresa</a></li>
                        <li class="page-scroll"><a href="fale-conosco.html">Fale conosco</a></li>
                    </ul>
                </div>
                <!-- MOBILE MENU -->
                <div class="mobile-inner-header"><div class="mobile-inner-header-icon mobile-inner-header-icon-out"><span></span><span></span></div></div>
                <div class="mobile-inner-nav page-scroll">
                    <a href="../index.html">Início</a>
                    <a href="../index.html#produtos">Nossos produtos</a>
                    <a href="../index.html#fornecedores">Fornecedores</a>
                    <a href="sobre.html">A empresa</a>
                    <a href="fale-conosco.html">Fale conosco</a>
                </div>
                <!-- END MOBILE MENU -->
            </nav>
        </div>
</header>